*{
    margin: 0px;
    padding: 0px;
}
*:hover{
    content: none !important;
  }
*::after{
    content: none !important;
}  
a{
    color: #000 !important;
    animation-duration: 1s !important;
    text-decoration: none !important;
}
a:hover{
    text-decoration: underline;
}
.mt{
    margin-top: 150px;
}
/* navbaar */
.navbar{
    background: rgba(255, 255, 255, 0.5) !important;
    backdrop-filter: blur(80px) !important;
}
/* header (banner) */
.masthead {
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
/* buttons */
.btn{
    border: 0px !important;
}
.btn-primary{
    background-color: #000;
    color: #fff;
    border: 0px !important;
}
.btn-secondary{
    background-color: #bbb;
    color: #000;
    border: 0px !important;
}
/* container-small */
.small-container{
    max-width: 700px;
}
/* cards */
.store-card{
    border-radius: 30px !important;
    transition: transform 0.4s;
}
.store-card:hover{
    transform: scale(1.03) !important;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}
.card-img-top{
    border-radius: 30px 30px 0px 0px !important;
}




